# goit-de-hw-03. –ê–Ω–∞–ª—ñ–∑ –¥–∞–Ω–∏—Ö —É PySpark

## –ó–∞–≤–¥–∞–Ω–Ω—è

**–ü–æ—á–∞—Ç–∫–æ–≤—ñ –¥–∞–Ω—ñ**

–í—Ö—ñ–¥–Ω—ñ CSV-—Ñ–∞–π–ª–∏:

1. [users.csv](csv/users.csv) ‚Äî –¥–∞–Ω—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ–≤:

- `user_id` (—É–Ω—ñ–∫–∞–ª—å–Ω–∏–π —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞)
- `name` (—ñ–º'—è –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞)
- `age` (–≤—ñ–∫ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞)
- `email` (–µ–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∞ –∞–¥—Ä–µ—Å–∞)

2. [purchases.csv](csv/purchases.csv) ‚Äî –¥–∞–Ω—ñ –ø—Ä–æ –ø–æ–∫—É–ø–∫–∏:

- `purchase_id` (—É–Ω—ñ–∫–∞–ª—å–Ω–∏–π —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä –ø–æ–∫—É–ø–∫–∏)
- `user_id` (—ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á–∞, —è–∫–∏–π –∑—Ä–æ–±–∏–≤ –ø–æ–∫—É–ø–∫—É)
- `product_id` (—É–Ω—ñ–∫–∞–ª—å–Ω–∏–π —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä –ø—Ä–æ–¥—É–∫—Ç—É)
- `date` (–¥–∞—Ç–∞ –ø–æ–∫—É–ø–∫–∏)
- `quantity` (–∫—ñ–ª—å–∫—ñ—Å—Ç—å –æ–¥–∏–Ω–∏—Ü—å –∫—É–ø–ª–µ–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É)

3. [products.csv)](csv/products.csv) ‚Äî —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –ø—Ä–æ –ø—Ä–æ–¥—É–∫—Ç–∏:

- `product_id` (—É–Ω—ñ–∫–∞–ª—å–Ω–∏–π —ñ–¥–µ–Ω—Ç–∏—Ñ—ñ–∫–∞—Ç–æ—Ä –ø—Ä–æ–¥—É–∫—Ç—É)
- `product_name` (–Ω–∞–∑–≤–∞ –ø—Ä–æ–¥—É–∫—Ç—É)
- `category` (–∫–∞—Ç–µ–≥–æ—Ä—ñ—è –ø—Ä–æ–¥—É–∫—Ç—É)
- `price` (—Ü—ñ–Ω–∞ –æ–¥–∏–Ω–∏—Ü—ñ —Ç–æ–≤–∞—Ä—É)

**–ó–∞–≤–¥–∞–Ω–Ω—è**

1. –ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ —Ç–∞ –ø—Ä–æ—á–∏—Ç–∞–π—Ç–µ –∫–æ–∂–µ–Ω CSV-—Ñ–∞–π–ª —è–∫ –æ–∫—Ä–µ–º–∏–π DataFrame.
2. –û—á–∏—Å—Ç—ñ—Ç—å –¥–∞–Ω—ñ, –≤–∏–¥–∞–ª—è—é—á–∏ –±—É–¥—å-—è–∫—ñ —Ä—è–¥–∫–∏ –∑ –ø—Ä–æ–ø—É—â–µ–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏.
3. –í–∏–∑–Ω–∞—á—Ç–µ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤.
4. –í–∏–∑–Ω–∞—á—Ç–µ —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 –≤–∫–ª—é—á–Ω–æ.
5. –í–∏–∑–Ω–∞—á—Ç–µ —á–∞—Å—Ç–∫—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥ —Å—É–º–∞—Ä–Ω–∏—Ö –≤–∏—Ç—Ä–∞—Ç –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤.
6. –í–∏–±–µ—Ä—ñ—Ç—å 3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –∑ –Ω–∞–π–≤–∏—â–∏–º –≤—ñ–¥—Å–æ—Ç–∫–æ–º –≤–∏—Ç—Ä–∞—Ç —Å–ø–æ–∂–∏–≤–∞—á–∞–º–∏ –≤—ñ–∫–æ–º –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤.

   üí° –í—ñ–¥—Å–æ—Ç–æ–∫ –ø–æ—Ç—Ä—ñ–±–Ω–æ –æ–∫—Ä—É–≥–ª–∏—Ç–∏ –¥–æ –¥—Ä—É–≥–æ–≥–æ –∑–Ω–∞–∫–∞ –ø—ñ—Å–ª—è –∫–æ–º–∏.

## –†—ñ—à–µ–Ω–Ω—è

### 1. –ó–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ —Ç–∞ –ø—Ä–æ—á–∏—Ç–∞–π—Ç–µ –∫–æ–∂–µ–Ω CSV-—Ñ–∞–π–ª —è–∫ –æ–∫—Ä–µ–º–∏–π DataFrame.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round, sum as _sum

# –°—Ç–≤–æ—Ä—é—î–º–æ —Å–µ—Å—ñ—é Spark
spark = SparkSession.builder.appName("goit-de-hw-03").getOrCreate()


# –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –¥–∞—Ç–∞—Å–µ—Ç –≤ –æ–∫—Ä–µ–º—ñ DataFrame
df_users = spark.read.csv("./csv/users.csv", header=True, inferSchema=True)
df_products = spark.read.csv("./csv/products.csv", header=True, inferSchema=True)
df_purchases = spark.read.csv("./csv/purchases.csv", header=True, inferSchema=True)


# –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞–Ω–∏—Ö
df_users.printSchema()
df_products.printSchema()
df_purchases.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: double (nullable = true)

root
 |-- purchase_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- quantity: integer (nullable = true)

### 2. –û—á–∏—Å—Ç—ñ—Ç—å –¥–∞–Ω—ñ, –≤–∏–¥–∞–ª—è—é—á–∏ –±—É–¥—å-—è–∫—ñ —Ä—è–¥–∫–∏ –∑ –ø—Ä–æ–ø—É—â–µ–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏.

In [2]:
print('–ö—ñ–ª—å–∫—ñ—Å—Ç—å –∑–∞–ø–∏—Å—ñ–≤ –¥–æ –æ—á–∏—â–µ–Ω–Ω—è:')
print(f"{df_users.count() = }")
print(f"{df_products.count() = }")
print(f"{df_purchases.count() = }")

# –í–∏–¥–∞–ª—è—î–º–æ –±—É–¥—å-—è–∫—ñ —Ä—è–¥–∫–∏ –∑ –ø—Ä–æ–ø—É—â–µ–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏.
df_users = df_users.dropna()
df_products = df_products.dropna()
df_purchases = df_purchases.dropna()

print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å –∑–∞–ø–∏—Å—ñ–≤ –ø—ñ—Å–ª—è –æ—á–∏—â–µ–Ω–Ω—è:")
print(f"{df_users.count() = }")
print(f"{df_products.count() = }")
print(f"{df_purchases.count() = }")

–ö—ñ–ª—å–∫—ñ—Å—Ç—å –∑–∞–ø–∏—Å—ñ–≤ –¥–æ –æ—á–∏—â–µ–Ω–Ω—è:
df_users.count() = 100
df_products.count() = 50
df_purchases.count() = 200
–ö—ñ–ª—å–∫—ñ—Å—Ç—å –∑–∞–ø–∏—Å—ñ–≤ –ø—ñ—Å–ª—è –æ—á–∏—â–µ–Ω–Ω—è:
df_users.count() = 95
df_products.count() = 47
df_purchases.count() = 195

### 3. –í–∏–∑–Ω–∞—á—Ç–µ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤.

–û–±'—î–¥–Ω–∞—î–º–æ –¥–∞—Ç–∞—Ñ—Ä–µ–º–∏ –≤ –æ–¥–∏–Ω —ñ –¥–æ–¥–∞–º–æ –ø–æ–ª–µ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–∫–∏.

In [3]:
# –û–±'—î–¥–Ω–∞—î–º–æ –¥–∞–Ω—ñ —ñ –¥–æ–¥–∞–º–æ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –ø–æ–∫—É–ø–∫–∏
df_joined = (
    df_users.join(df_purchases, "user_id")
    .join(df_products, "product_id")
    .withColumn("total_cost", col("price") * col("quantity"))
)

df_joined.show()
# df_joined.printSchema()

+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
|product_id|user_id|    name|age|              email|purchase_id|      date|quantity|product_name|   category|price|        total_cost|
+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
|         9|     52| User_52| 39| user52@example.com|          1|2022-01-01|       1|   Product_9|     Beauty|  6.0|               6.0|
|        37|     93| User_93| 25| user93@example.com|          2|2022-01-02|       8|  Product_37|   Clothing|  6.0|              48.0|
|        33|     15| User_15| 30| user15@example.com|          3|2022-01-03|       1|  Product_33|       Home|  9.4|               9.4|
|        42|     72| User_72| 39| user72@example.com|          4|2022-01-04|       9|  Product_42|     Beauty|  9.1| 81.89999999999999|
|        24|     21| User_21| 37| user21@example.com|          6|2022-01-06|       7|  Product_24|Electronics|  2.1|14.700000000000001|
|        32|     87| User_87| 38| user87@example.com|          8|2022-01-08|       3|  Product_32|       Home|  8.8|26.400000000000002|
|        32|     75| User_75| 40| user75@example.com|          9|2022-01-09|       2|  Product_32|       Home|  8.8|              17.6|
|        24|     75| User_75| 40| user75@example.com|         10|2022-01-10|       9|  Product_24|Electronics|  2.1|18.900000000000002|
|        41|     88| User_88| 25| user88@example.com|         11|2022-01-11|       8|  Product_41|     Sports|  5.9|              47.2|
|        49|    100|User_100| 26|user100@example.com|         12|2022-01-12|       7|  Product_49|     Sports|  9.7| 67.89999999999999|
|        49|     24| User_24| 46| user24@example.com|         13|2022-01-13|       9|  Product_49|     Sports|  9.7|              87.3|
|        12|      3|  User_3| 36|  user3@example.com|         14|2022-01-14|       4|  Product_12|       Home|  1.3|               5.2|
|        39|     22| User_22| 45| user22@example.com|         15|2022-01-15|       4|  Product_39|       Home|  7.3|              29.2|
|         2|     53| User_53| 38| user53@example.com|         16|2022-01-16|       1|   Product_2|       Home|  8.3|               8.3|
|         3|      2|  User_2| 48|  user2@example.com|         17|2022-01-17|       8|   Product_3|Electronics|  9.2|              73.6|
|        49|     88| User_88| 25| user88@example.com|         18|2022-01-18|       3|  Product_49|     Sports|  9.7|29.099999999999998|
|        49|     38| User_38| 41| user38@example.com|         20|2022-01-20|       2|  Product_49|     Sports|  9.7|              19.4|
|        17|      2|  User_2| 48|  user2@example.com|         21|2022-01-21|       2|  Product_17|Electronics|  8.1|              16.2|
|        49|     64| User_64| 26| user64@example.com|         22|2022-01-22|       7|  Product_49|     Sports|  9.7| 67.89999999999999|
|         2|     60| User_60| 37| user60@example.com|         23|2022-01-23|       6|   Product_2|       Home|  8.3|49.800000000000004|
+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
only showing top 20 rows

–í–∏–∑–Ω–∞—á–∏–º–æ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–π –≥—Ä—É–ø—É–≤–∞–Ω–Ω—è —Ç–∞ –∞–≥—Ä–µ–≥–∞—Ü—ñ—ó

In [4]:
# –í–∏–∑–Ω–∞—á–∏–º–æ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤

df_joined.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum")
).show()

+-----------+---------+
|   category|total_sum|
+-----------+---------+
|       Home|   1438.9|
|     Sports|   1755.5|
|Electronics|   1141.9|
|   Clothing|    696.1|
|     Beauty|    441.7|
+-----------+---------+

### 4. –í–∏–∑–Ω–∞—á—Ç–µ —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 –≤–∫–ª—é—á–Ω–æ.

In [5]:
# –°—Ç–≤–æ—Ä–∏–º–æ —Ü—ñ–ª—å–æ–≤–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df_18_25 = df_joined.filter(df_joined.age >= 18).filter(df_joined.age <= 25)
# df_18_25.show()

In [6]:
# –í–∏–∑–Ω–∞—á–∏–º–æ —Å—É–º—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 –≤–∫–ª—é—á–Ω–æ.

df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25")
).show()

+-----------+---------------+
|   category|total_sum_18_25|
+-----------+---------------+
|       Home|          361.1|
|     Sports|          310.5|
|Electronics|          249.6|
|   Clothing|          245.0|
|     Beauty|           41.4|
+-----------+---------------+

### 5. –í–∏–∑–Ω–∞—á—Ç–µ —á–∞—Å—Ç–∫—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥ —Å—É–º–∞—Ä–Ω–∏—Ö –≤–∏—Ç—Ä–∞—Ç –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤.

In [7]:
# –°—É–º–∞—Ä–Ω—ñ –≤–∏—Ç—Ä–∞—Ç–∏
total_spending_18_25 = df_18_25.agg(
    _sum("total_cost").alias("total_spending")
).collect()[0]["total_spending"]
total_spending_18_25

1207.6

In [8]:
# –í–∏–∑–Ω–∞—á–∏–º–æ —á–∞—Å—Ç–∫—É –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–æ–∂–Ω–æ—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥ —Å—É–º–∞—Ä–Ω–∏—Ö –≤–∏—Ç—Ä–∞—Ç –¥–ª—è –≤—ñ–∫–æ–≤–æ—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤
df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
|   Clothing|          245.0|         20.29|
|     Beauty|           41.4|          3.43|
+-----------+---------------+--------------+

In [9]:
# 6 –í–∏–±–µ—Ä—ñ—Ç—å 3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –∑ –Ω–∞–π–≤–∏—â–∏–º –≤—ñ–¥—Å–æ—Ç–∫–æ–º –≤–∏—Ç—Ä–∞—Ç —Å–ø–æ–∂–∏–≤–∞—á–∞–º–∏ –≤—ñ–∫–æ–º –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤.
df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).sort("part_sum_18_25", ascending=False).limit(3).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
+-----------+---------------+--------------+

In [10]:
# 6 –í–∏–±–µ—Ä—ñ—Ç—å 3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –∑ –Ω–∞–π–≤–∏—â–∏–º –≤—ñ–¥—Å–æ—Ç–∫–æ–º –≤–∏—Ç—Ä–∞—Ç —Å–ø–æ–∂–∏–≤–∞—á–∞–º–∏ –≤—ñ–∫–æ–º –≤—ñ–¥ 18 –¥–æ 25 —Ä–æ–∫—ñ–≤.
df_joined.filter(df_joined.age >= 18).filter(df_joined.age <= 25).groupBy(
    "category"
).agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).sort(
    "part_sum_18_25", ascending=False
).limit(
    3
).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
+-----------+---------------+--------------+

In [11]:
# –ó—É–ø–∏–Ω—è—î–º–æ Spark
spark.stop()