# goit-de-hw-03. ÐÐ½Ð°Ð»Ñ–Ð· Ð´Ð°Ð½Ð¸Ñ… Ñƒ PySpark

## Ð—Ð°Ð²Ð´Ð°Ð½Ð½Ñ

**ÐŸÐ¾Ñ‡Ð°Ñ‚ÐºÐ¾Ð²Ñ– Ð´Ð°Ð½Ñ–**

Ð’Ñ…Ñ–Ð´Ð½Ñ– CSV-Ñ„Ð°Ð¹Ð»Ð¸:

1. [users.csv](csv/users.csv) â€” Ð´Ð°Ð½Ñ– ÐºÐ¾Ñ€Ð¸ÑÑ‚ÑƒÐ²Ð°Ñ‡Ñ–Ð²:

- `user_id` (ÑƒÐ½Ñ–ÐºÐ°Ð»ÑŒÐ½Ð¸Ð¹ Ñ–Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ñ–ÐºÐ°Ñ‚Ð¾Ñ€ ÐºÐ¾Ñ€Ð¸ÑÑ‚ÑƒÐ²Ð°Ñ‡Ð°)
- `name` (Ñ–Ð¼'Ñ ÐºÐ¾Ñ€Ð¸ÑÑ‚ÑƒÐ²Ð°Ñ‡Ð°)
- `age` (Ð²Ñ–Ðº ÐºÐ¾Ñ€Ð¸ÑÑ‚ÑƒÐ²Ð°Ñ‡Ð°)
- `email` (ÐµÐ»ÐµÐºÑ‚Ñ€Ð¾Ð½Ð½Ð° Ð°Ð´Ñ€ÐµÑÐ°)

2. [purchases.csv](csv/purchases.csv) â€” Ð´Ð°Ð½Ñ– Ð¿Ñ€Ð¾ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸:

- `purchase_id` (ÑƒÐ½Ñ–ÐºÐ°Ð»ÑŒÐ½Ð¸Ð¹ Ñ–Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ñ–ÐºÐ°Ñ‚Ð¾Ñ€ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸)
- `user_id` (Ñ–Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ñ–ÐºÐ°Ñ‚Ð¾Ñ€ ÐºÐ¾Ñ€Ð¸ÑÑ‚ÑƒÐ²Ð°Ñ‡Ð°, ÑÐºÐ¸Ð¹ Ð·Ñ€Ð¾Ð±Ð¸Ð² Ð¿Ð¾ÐºÑƒÐ¿ÐºÑƒ)
- `product_id` (ÑƒÐ½Ñ–ÐºÐ°Ð»ÑŒÐ½Ð¸Ð¹ Ñ–Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ñ–ÐºÐ°Ñ‚Ð¾Ñ€ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñƒ)
- `date` (Ð´Ð°Ñ‚Ð° Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸)
- `quantity` (ÐºÑ–Ð»ÑŒÐºÑ–ÑÑ‚ÑŒ Ð¾Ð´Ð¸Ð½Ð¸Ñ†ÑŒ ÐºÑƒÐ¿Ð»ÐµÐ½Ð¾Ð³Ð¾ Ñ‚Ð¾Ð²Ð°Ñ€Ñƒ)

3. [products.csv)](csv/products.csv) â€” Ñ–Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ñ–Ñ Ð¿Ñ€Ð¾ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ð¸:

- `product_id` (ÑƒÐ½Ñ–ÐºÐ°Ð»ÑŒÐ½Ð¸Ð¹ Ñ–Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ñ–ÐºÐ°Ñ‚Ð¾Ñ€ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñƒ)
- `product_name` (Ð½Ð°Ð·Ð²Ð° Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñƒ)
- `category` (ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñƒ)
- `price` (Ñ†Ñ–Ð½Ð° Ð¾Ð´Ð¸Ð½Ð¸Ñ†Ñ– Ñ‚Ð¾Ð²Ð°Ñ€Ñƒ)

**Ð—Ð°Ð²Ð´Ð°Ð½Ð½Ñ**

1. Ð—Ð°Ð²Ð°Ð½Ñ‚Ð°Ð¶Ñ‚Ðµ Ñ‚Ð° Ð¿Ñ€Ð¾Ñ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ ÐºÐ¾Ð¶ÐµÐ½ CSV-Ñ„Ð°Ð¹Ð» ÑÐº Ð¾ÐºÑ€ÐµÐ¼Ð¸Ð¹ DataFrame.
2. ÐžÑ‡Ð¸ÑÑ‚Ñ–Ñ‚ÑŒ Ð´Ð°Ð½Ñ–, Ð²Ð¸Ð´Ð°Ð»ÑÑŽÑ‡Ð¸ Ð±ÑƒÐ´ÑŒ-ÑÐºÑ– Ñ€ÑÐ´ÐºÐ¸ Ð· Ð¿Ñ€Ð¾Ð¿ÑƒÑ‰ÐµÐ½Ð¸Ð¼Ð¸ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð½ÑÐ¼Ð¸.
3. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ñƒ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð².
4. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ð²ÐºÐ»ÑŽÑ‡Ð½Ð¾.
5. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ Ñ‡Ð°ÑÑ‚ÐºÑƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ñ‚Ð¾Ð²Ð°Ñ€Ñ–Ð² Ð²Ñ–Ð´ ÑÑƒÐ¼Ð°Ñ€Ð½Ð¸Ñ… Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð².
6. Ð’Ð¸Ð±ÐµÑ€Ñ–Ñ‚ÑŒ 3 ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð· Ð½Ð°Ð¹Ð²Ð¸Ñ‰Ð¸Ð¼ Ð²Ñ–Ð´ÑÐ¾Ñ‚ÐºÐ¾Ð¼ Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ ÑÐ¿Ð¾Ð¶Ð¸Ð²Ð°Ñ‡Ð°Ð¼Ð¸ Ð²Ñ–ÐºÐ¾Ð¼ Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð².

   ðŸ’¡ Ð’Ñ–Ð´ÑÐ¾Ñ‚Ð¾Ðº Ð¿Ð¾Ñ‚Ñ€Ñ–Ð±Ð½Ð¾ Ð¾ÐºÑ€ÑƒÐ³Ð»Ð¸Ñ‚Ð¸ Ð´Ð¾ Ð´Ñ€ÑƒÐ³Ð¾Ð³Ð¾ Ð·Ð½Ð°ÐºÐ° Ð¿Ñ–ÑÐ»Ñ ÐºÐ¾Ð¼Ð¸.

## Ð Ñ–ÑˆÐµÐ½Ð½Ñ

### 1. Ð—Ð°Ð²Ð°Ð½Ñ‚Ð°Ð¶Ñ‚Ðµ Ñ‚Ð° Ð¿Ñ€Ð¾Ñ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ ÐºÐ¾Ð¶ÐµÐ½ CSV-Ñ„Ð°Ð¹Ð» ÑÐº Ð¾ÐºÑ€ÐµÐ¼Ð¸Ð¹ DataFrame.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round, sum as _sum

# Ð¡Ñ‚Ð²Ð¾Ñ€ÑŽÑ”Ð¼Ð¾ ÑÐµÑÑ–ÑŽ Spark
spark = SparkSession.builder.appName("goit-de-hw-03").getOrCreate()


# Ð—Ð°Ð²Ð°Ð½Ñ‚Ð°Ð¶ÑƒÑ”Ð¼Ð¾ Ð´Ð°Ñ‚Ð°ÑÐµÑ‚ Ð² Ð¾ÐºÑ€ÐµÐ¼Ñ– DataFrame
df_users = spark.read.csv("./csv/users.csv", header=True, inferSchema=True)
df_products = spark.read.csv("./csv/products.csv", header=True, inferSchema=True)
df_purchases = spark.read.csv("./csv/purchases.csv", header=True, inferSchema=True)


# Ð¡Ñ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð° Ð´Ð°Ð½Ð¸Ñ…
df_users.printSchema()
df_products.printSchema()
df_purchases.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: double (nullable = true)

root
 |-- purchase_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- quantity: integer (nullable = true)

### 2. ÐžÑ‡Ð¸ÑÑ‚Ñ–Ñ‚ÑŒ Ð´Ð°Ð½Ñ–, Ð²Ð¸Ð´Ð°Ð»ÑÑŽÑ‡Ð¸ Ð±ÑƒÐ´ÑŒ-ÑÐºÑ– Ñ€ÑÐ´ÐºÐ¸ Ð· Ð¿Ñ€Ð¾Ð¿ÑƒÑ‰ÐµÐ½Ð¸Ð¼Ð¸ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð½ÑÐ¼Ð¸.

In [2]:
print('ÐšÑ–Ð»ÑŒÐºÑ–ÑÑ‚ÑŒ Ð·Ð°Ð¿Ð¸ÑÑ–Ð² Ð´Ð¾ Ð¾Ñ‡Ð¸Ñ‰ÐµÐ½Ð½Ñ:')
print(f"{df_users.count() = }")
print(f"{df_products.count() = }")
print(f"{df_purchases.count() = }")

# Ð’Ð¸Ð´Ð°Ð»ÑÑ”Ð¼Ð¾ Ð±ÑƒÐ´ÑŒ-ÑÐºÑ– Ñ€ÑÐ´ÐºÐ¸ Ð· Ð¿Ñ€Ð¾Ð¿ÑƒÑ‰ÐµÐ½Ð¸Ð¼Ð¸ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð½ÑÐ¼Ð¸.
df_users = df_users.dropna()
df_products = df_products.dropna()
df_purchases = df_purchases.dropna()

print("ÐšÑ–Ð»ÑŒÐºÑ–ÑÑ‚ÑŒ Ð·Ð°Ð¿Ð¸ÑÑ–Ð² Ð¿Ñ–ÑÐ»Ñ Ð¾Ñ‡Ð¸Ñ‰ÐµÐ½Ð½Ñ:")
print(f"{df_users.count() = }")
print(f"{df_products.count() = }")
print(f"{df_purchases.count() = }")

ÐšÑ–Ð»ÑŒÐºÑ–ÑÑ‚ÑŒ Ð·Ð°Ð¿Ð¸ÑÑ–Ð² Ð´Ð¾ Ð¾Ñ‡Ð¸Ñ‰ÐµÐ½Ð½Ñ:
df_users.count() = 100
df_products.count() = 50
df_purchases.count() = 200
ÐšÑ–Ð»ÑŒÐºÑ–ÑÑ‚ÑŒ Ð·Ð°Ð¿Ð¸ÑÑ–Ð² Ð¿Ñ–ÑÐ»Ñ Ð¾Ñ‡Ð¸Ñ‰ÐµÐ½Ð½Ñ:
df_users.count() = 95
df_products.count() = 47
df_purchases.count() = 195

### 3. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ñƒ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð².

ÐžÐ±'Ñ”Ð´Ð½Ð°Ñ”Ð¼Ð¾ Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¼Ð¸ Ð² Ð¾Ð´Ð¸Ð½ Ñ– Ð´Ð¾Ð´Ð°Ð¼Ð¾ Ð¿Ð¾Ð»Ðµ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ð¾Ñ— ÑÑƒÐ¼Ð¸ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸.

In [3]:
# ÐžÐ±'Ñ”Ð´Ð½Ð°Ñ”Ð¼Ð¾ Ð´Ð°Ð½Ñ– Ñ– Ð´Ð¾Ð´Ð°Ð¼Ð¾ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ñƒ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸
df_joined = (
    df_users.join(df_purchases, "user_id")
    .join(df_products, "product_id")
    .withColumn("total_cost", col("price") * col("quantity"))
)

df_joined.show()
# df_joined.printSchema()

+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
|product_id|user_id|    name|age|              email|purchase_id|      date|quantity|product_name|   category|price|        total_cost|
+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
|         9|     52| User_52| 39| user52@example.com|          1|2022-01-01|       1|   Product_9|     Beauty|  6.0|               6.0|
|        37|     93| User_93| 25| user93@example.com|          2|2022-01-02|       8|  Product_37|   Clothing|  6.0|              48.0|
|        33|     15| User_15| 30| user15@example.com|          3|2022-01-03|       1|  Product_33|       Home|  9.4|               9.4|
|        42|     72| User_72| 39| user72@example.com|          4|2022-01-04|       9|  Product_42|     Beauty|  9.1| 81.89999999999999|
|        24|     21| User_21| 37| user21@example.com|          6|2022-01-06|       7|  Product_24|Electronics|  2.1|14.700000000000001|
|        32|     87| User_87| 38| user87@example.com|          8|2022-01-08|       3|  Product_32|       Home|  8.8|26.400000000000002|
|        32|     75| User_75| 40| user75@example.com|          9|2022-01-09|       2|  Product_32|       Home|  8.8|              17.6|
|        24|     75| User_75| 40| user75@example.com|         10|2022-01-10|       9|  Product_24|Electronics|  2.1|18.900000000000002|
|        41|     88| User_88| 25| user88@example.com|         11|2022-01-11|       8|  Product_41|     Sports|  5.9|              47.2|
|        49|    100|User_100| 26|user100@example.com|         12|2022-01-12|       7|  Product_49|     Sports|  9.7| 67.89999999999999|
|        49|     24| User_24| 46| user24@example.com|         13|2022-01-13|       9|  Product_49|     Sports|  9.7|              87.3|
|        12|      3|  User_3| 36|  user3@example.com|         14|2022-01-14|       4|  Product_12|       Home|  1.3|               5.2|
|        39|     22| User_22| 45| user22@example.com|         15|2022-01-15|       4|  Product_39|       Home|  7.3|              29.2|
|         2|     53| User_53| 38| user53@example.com|         16|2022-01-16|       1|   Product_2|       Home|  8.3|               8.3|
|         3|      2|  User_2| 48|  user2@example.com|         17|2022-01-17|       8|   Product_3|Electronics|  9.2|              73.6|
|        49|     88| User_88| 25| user88@example.com|         18|2022-01-18|       3|  Product_49|     Sports|  9.7|29.099999999999998|
|        49|     38| User_38| 41| user38@example.com|         20|2022-01-20|       2|  Product_49|     Sports|  9.7|              19.4|
|        17|      2|  User_2| 48|  user2@example.com|         21|2022-01-21|       2|  Product_17|Electronics|  8.1|              16.2|
|        49|     64| User_64| 26| user64@example.com|         22|2022-01-22|       7|  Product_49|     Sports|  9.7| 67.89999999999999|
|         2|     60| User_60| 37| user60@example.com|         23|2022-01-23|       6|   Product_2|       Home|  8.3|49.800000000000004|
+----------+-------+--------+---+-------------------+-----------+----------+--------+------------+-----------+-----+------------------+
only showing top 20 rows

Ð’Ð¸Ð·Ð½Ð°Ñ‡Ð¸Ð¼Ð¾ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ñƒ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð¿Ð¾ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–ÑÐ¼ Ð·Ð° Ð´Ð¾Ð¿Ð¾Ð¼Ð¾Ð³Ð¾ÑŽ Ñ„ÑƒÐ½ÐºÑ†Ñ–Ð¹ Ð³Ñ€ÑƒÐ¿ÑƒÐ²Ð°Ð½Ð½Ñ Ñ‚Ð° Ð°Ð³Ñ€ÐµÐ³Ð°Ñ†Ñ–Ñ—

In [4]:
# Ð’Ð¸Ð·Ð½Ð°Ñ‡Ð¸Ð¼Ð¾ Ð·Ð°Ð³Ð°Ð»ÑŒÐ½Ñƒ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð²

df_joined.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum")
).show()

+-----------+---------+
|   category|total_sum|
+-----------+---------+
|       Home|   1438.9|
|     Sports|   1755.5|
|Electronics|   1141.9|
|   Clothing|    696.1|
|     Beauty|    441.7|
+-----------+---------+

### 4. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ð²ÐºÐ»ÑŽÑ‡Ð½Ð¾.

In [5]:
# Ð¡Ñ‚Ð²Ð¾Ñ€Ð¸Ð¼Ð¾ Ñ†Ñ–Ð»ÑŒÐ¾Ð²Ð¸Ð¹ Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼
df_18_25 = df_joined.filter(df_joined.age >= 18).filter(df_joined.age <= 25)
# df_18_25.show()

In [6]:
# Ð’Ð¸Ð·Ð½Ð°Ñ‡Ð¸Ð¼Ð¾ ÑÑƒÐ¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ð²ÐºÐ»ÑŽÑ‡Ð½Ð¾.

df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25")
).show()

+-----------+---------------+
|   category|total_sum_18_25|
+-----------+---------------+
|       Home|          361.1|
|     Sports|          310.5|
|Electronics|          249.6|
|   Clothing|          245.0|
|     Beauty|           41.4|
+-----------+---------------+

### 5. Ð’Ð¸Ð·Ð½Ð°Ñ‡Ñ‚Ðµ Ñ‡Ð°ÑÑ‚ÐºÑƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ñ‚Ð¾Ð²Ð°Ñ€Ñ–Ð² Ð²Ñ–Ð´ ÑÑƒÐ¼Ð°Ñ€Ð½Ð¸Ñ… Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð².

In [7]:
# Ð¡ÑƒÐ¼Ð°Ñ€Ð½Ñ– Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚Ð¸
total_spending_18_25 = df_18_25.agg(
    _sum("total_cost").alias("total_spending")
).collect()[0]["total_spending"]
total_spending_18_25

1207.6

In [8]:
# Ð’Ð¸Ð·Ð½Ð°Ñ‡Ð¸Ð¼Ð¾ Ñ‡Ð°ÑÑ‚ÐºÑƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð·Ð° ÐºÐ¾Ð¶Ð½Ð¾ÑŽ ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ”ÑŽ Ñ‚Ð¾Ð²Ð°Ñ€Ñ–Ð² Ð²Ñ–Ð´ ÑÑƒÐ¼Ð°Ñ€Ð½Ð¸Ñ… Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ Ð´Ð»Ñ Ð²Ñ–ÐºÐ¾Ð²Ð¾Ñ— ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð²
df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
|   Clothing|          245.0|         20.29|
|     Beauty|           41.4|          3.43|
+-----------+---------------+--------------+

In [9]:
# 6 Ð’Ð¸Ð±ÐµÑ€Ñ–Ñ‚ÑŒ 3 ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð· Ð½Ð°Ð¹Ð²Ð¸Ñ‰Ð¸Ð¼ Ð²Ñ–Ð´ÑÐ¾Ñ‚ÐºÐ¾Ð¼ Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ ÑÐ¿Ð¾Ð¶Ð¸Ð²Ð°Ñ‡Ð°Ð¼Ð¸ Ð²Ñ–ÐºÐ¾Ð¼ Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð².
df_18_25.groupBy("category").agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).sort("part_sum_18_25", ascending=False).limit(3).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
+-----------+---------------+--------------+

In [10]:
# 6 Ð’Ð¸Ð±ÐµÑ€Ñ–Ñ‚ÑŒ 3 ÐºÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ñ–Ñ— Ð¿Ñ€Ð¾Ð´ÑƒÐºÑ‚Ñ–Ð² Ð· Ð½Ð°Ð¹Ð²Ð¸Ñ‰Ð¸Ð¼ Ð²Ñ–Ð´ÑÐ¾Ñ‚ÐºÐ¾Ð¼ Ð²Ð¸Ñ‚Ñ€Ð°Ñ‚ ÑÐ¿Ð¾Ð¶Ð¸Ð²Ð°Ñ‡Ð°Ð¼Ð¸ Ð²Ñ–ÐºÐ¾Ð¼ Ð²Ñ–Ð´ 18 Ð´Ð¾ 25 Ñ€Ð¾ÐºÑ–Ð².
df_joined.filter(df_joined.age >= 18).filter(df_joined.age <= 25).groupBy(
    "category"
).agg(
    round(_sum("total_cost"), 2).alias("total_sum_18_25"),
    round(_sum("total_cost") / total_spending_18_25 * 100, 2).alias("part_sum_18_25"),
).sort(
    "part_sum_18_25", ascending=False
).limit(
    3
).show()

+-----------+---------------+--------------+
|   category|total_sum_18_25|part_sum_18_25|
+-----------+---------------+--------------+
|       Home|          361.1|          29.9|
|     Sports|          310.5|         25.71|
|Electronics|          249.6|         20.67|
+-----------+---------------+--------------+

In [11]:
# Ð—ÑƒÐ¿Ð¸Ð½ÑÑ”Ð¼Ð¾ Spark
spark.stop()